<h1>Schedule an appointment</h1>

<form id="form" onsubmit="event.preventDefault();">
    <div class="form-group row w-50 mx-auto mb-3">
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">First name</label>
            <input type="text" id="firstName" name="firstName" class="form-control mx-auto mb-3" />

        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Last name</label>
            <input type="text" id="lastName" name="lastName" class="form-control mx-auto mb-3" />
        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Email address</label>
            <input type="email" id="email" name="email" class="form-control mx-auto mb-3" />
        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Phone</label>
            <input type="tel" id="phone" name="phone" class="form-control mx-auto mb-3"
                oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" />

        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Date</label>
            <input type="date" id="day" name="day" class="form-control mx-auto mb-3" />
        </div>
        <div class="form-group col-12 col-sm-6">
            <label class="mb-2">Hours</label>
            <select id="hour" name="hour" class="form-control mx-auto mb-3" value>
                <option> Select an hour </option>
                <option> 09:00 </option>
                <option> 10:00 </option>
                <option> 11:00 </option>
                <option> 12:00 </option>
                <option> 13:00 </option>
                <option> 14:00 </option>
                <option> 15:00 </option>
                <option> 16:00 </option>
                <option> 17:00 </option>
                <option> 18:00 </option>
            </select>
        </div>

    </div>
    <button id="send" class="btn btn-info mb-3 text-light"><a>Schedule</a></button>
</form>
<h3 class="text-center"><a href="/">Home</a></h3>


<script>
   {{> Functions }}

    $('#send').click(async (e) => {
        e.preventDefault();
        const firstName = $('#firstName').val();
        const lastName = $('#lastName').val();
        const email = $('#email').val();
        const phone = $('#phone').val();
        const day = $('#day').val();
        const hour = $('#hour').val()

        const payload = {
            firstName, lastName, email, phone, day, hour
        }

        if (firstName === '' || lastName === '' || email === '' || phone === '' || day === '' || hour === 'Select an hour') {
            alert('Please fill all the fields');
        } else if (!firstName.match(/^[a-zA-Z]+$/) || !lastName.match(/^[a-zA-Z]+$/)) {
            alert('No numbers allowed in name and last name');
        } else if (!email.match(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)) {
            alert('Please enter a valid email');
        } else {
            $('#form').submit();
            try {
                const { data } = await axios.post('/date', payload);
                if (data.error) alert(data.error);
                else {
                    alert(data.success);
                    window.location.href = '/';
                };
            } catch ({ response }) {
                const { error } = response.data
                alert(error);
            }
        }

    });
</script>